@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-weight: 300;
	src: local('Mont'), 
    url('../fonts/Mont-Light.woff') format('woff'),
    url('../fonts/Mont-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'FoglihtenNo06';
	font-style: normal;
	font-weight: 500;
	src: local('FoglihtenNo06'), 
    url('../fonts/GrtskExa-Regular.woff') format('woff'),
    url('../fonts/GrtskExa-Regular.woff2') format('woff2');
}

:root {
  --gold-gradient: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 36%, rgba(210,172,71,1) 74%, rgba(237,201,103,1) 100%);
  --transparent-gold-gradient: linear-gradient(90deg, rgba(174, 134, 37, 0.40) 0%, rgba(247, 239, 138, 0.40) 36.03%, rgba(210, 172, 71, 0.40) 74.34%, rgba(237, 201, 103, 0.40) 100%);
}

body {
	font-family: 'Mont';
	font-style: normal;
	font-size: 30px;
	font-weight: 300;
	color: #14191A;
	line-height: normal;
  color: #FFF;
  background-color: #0B0B0B;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.gold-title {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'FoglihtenNo06';

  background-image: var(--gold-gradient);
  color: transparent;
  background-clip: text;
}

.nav-link {
  border: 1px solid #D2AC47;
  
  box-shadow: 4px 4px 5px 0px #000;
  backdrop-filter: blur(5px); 
}

.btn-text {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.nav-link:hover {
  background-image: var(--transparent-gold-gradient);
}

.active {
  background-image: var(--transparent-gold-gradient);
}

.text {
  text-align: justify;
  line-height: 38px;
}

/* Header - start */

.header {
  position: relative;
  height: 87px;
}

.header::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--gold-gradient);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  border-radius: 20px;
  padding: 8px 22px 6px 22px;
  margin: 9px 0 12px 0;

  margin-right: 30px;
  min-width: 190px;
}

.header__nav {
  display: flex;
  gap: 30px;

  margin-top: 31px;
}

.header__nav-link-icon {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.header__nav-link {
  font-size: 25px;
  line-height: 32px;
  border-radius: 20px;
  width: 190px;
  height: 44px;
  padding: 6px 0;
  text-align: center;
}

/* Header - end */


/* Hero-block - start */

.hero__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  padding: 75px 140px 139px 80px;

  position: relative;
}

.hero__title {
  font-size: 200px;
  line-height: 204px;
  text-align: end;
}

.hero__img {
  position: absolute;
  top: 107px;
}

.hero__info {
  max-width: 505px;
  margin-left: auto;
}

.hero__info_label {
  margin-bottom: 170px;
  font-size: 50px;
}

.hero__info_label-gold {
  display: inline-block;
  font-size: 40px;
  line-height: 51px;
}

.hero__info_label-white {
  font-family: 'FoglihtenNo06';
  font-size: 60px;
}

.hero__info_desc {
  margin-bottom: 10px;
  line-height: 35px;
}

.hero__btn {
  border-radius: 40px;
  padding: 19px 26px 16px 26px;

  margin-top: 20px;
}

/* Hero-block - end */


/* History - start */

.history {
  margin-bottom: 40px;
}

.history__title {
  margin-bottom: 20px;
}

.history__content {
  display: flex;
  gap: 39px;
  align-items: center ;
}

.history__img {
  width: 261px;
  height: 326px;
}

/* History - end */


/* Format - start */

.format__text {
  margin-bottom: 20px;
}

.format__text-wrap {
  display: flex;
  gap: 41px;
}

.format__btn {
  border-radius: 40px;
  padding: 19px 16px 17px 16px;
  max-height: 87px;
  white-space: nowrap;
}

/* Fromat - end */


/* Footer - start */

.footer {
  margin-top: 80px;
  padding-bottom: 100px;
  position: relative;
}

.footer::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  background: var(--gold-gradient);
}

.footer__wrapper {
  padding-top: 40px;
}

/* Team - start */

.footer__team {
  margin-bottom: 60px;
}

.footer__team_title {
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.footer__team-members_wrap {
  display: flex;
  justify-content: space-around;
}

.footer__team-member {
  text-align: center;
}

.footer__team-member_avatar {
  width: 154px;
  height: 154px;
  margin-bottom: 26px;
}

.footer__team-member_name {
  font-size: 25px;
}

.footer__team-member_role {
  font-size: 15px;
}

/* Team - end */

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  margin-bottom: 60px;
}

.footer__info-item {
  font-size: 25px;
  line-height: 32px;
}

/* Footer - end */


/* Popups - start */

.popup {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.residency__content {
  padding: 72px 0;
  margin: 50px auto;
  background: #0B0B0B;
  width: 942px;
}

.residency__title {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.residency__form {
  max-width: 560px;
  margin: 0 auto;
}

.residency__label {
  font-size: 25px;
}

.residency__input {
  border: 1px solid #D2AC47;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px #000;
  backdrop-filter: blur(5px); 

  font-size: 25px;
  padding: 6px 20px;
  height: 44px;
  width: 100%;

  margin-bottom: 20px;
}

textarea.residency__input {
  resize: vertical;
  min-height: 98px;

  margin-bottom: 40px;
}

.residency__submit_btn-wrap {
  text-align: center;
}

.residency__submit_btn {
  padding: 12px 18px 6px 18px;
  border-radius: 20px;
  margin: 0 auto;
}



.success-residency__content {
  padding: 50px 39px 50px 34px;
  margin: 0 auto;
  margin-top: 10%;
  background: #0B0B0B;
  width: 940px;

  display: flex;
  gap: 16px;
  align-items: center;
}

.success-residency__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.success-residency__text {
  font-size: 25px;
}

/* Popups - end */

