@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-weight: 300;
	src: local('Mont'), 
    url('../fonts/Mont-Light.woff') format('woff'),
    url('../fonts/Mont-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'FoglihtenNo06';
	font-style: normal;
	font-weight: 500;
	src: local('FoglihtenNo06'), 
    url('../fonts/GrtskExa-Regular.woff') format('woff'),
    url('../fonts/GrtskExa-Regular.woff2') format('woff2');
}

:root {
  --gold-gradient: linear-gradient(90deg, rgba(174,134,37,1) 0%, rgba(247,239,138,1) 36%, rgba(210,172,71,1) 74%, rgba(237,201,103,1) 100%);
  --transparent-gold-gradient: linear-gradient(90deg, rgba(174, 134, 37, 0.40) 0%, rgba(247, 239, 138, 0.40) 36.03%, rgba(210, 172, 71, 0.40) 74.34%, rgba(237, 201, 103, 0.40) 100%);
}

body {
	font-family: 'Mont';
	font-style: normal;
	font-size: 30px;
	font-weight: 300;
	color: #14191A;
	line-height: normal;
  color: #FFF;
  background-color: #0B0B0B;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.gold-title {
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'FoglihtenNo06';

  background-image: var(--gold-gradient);
  color: transparent;
  background-clip: text;
}

.nav-link {
  border: 1px solid #D2AC47;
  
  box-shadow: 4px 4px 5px 0px #000;
  backdrop-filter: blur(5px); 
}

.btn-text {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.nav-link:hover {
  background-image: var(--transparent-gold-gradient);
}

.active {
  background-image: var(--transparent-gold-gradient);
}

.text {
  text-align: justify;
  line-height: 38px;
}

/* Header - start */

.header {
  position: relative;
  height: 87px;
}

.header::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--gold-gradient);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  border-radius: 20px;
  padding: 8px 22px 6px 22px;
  margin: 9px 30px 12px 0;
  min-width: 190px;
}

.header__nav {
  display: flex;
  gap: 30px;

  margin-top: 31px;
}

.header__icons-wrap {
  display: flex;
  gap: 30px;
}

.header__links-wrap {
  display: flex;
  gap: 30px;
}

.header__nav-link-icon {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.header__nav-link {
  font-size: 25px;
  line-height: 32px;
  border-radius: 20px;
  width: 190px;
  height: 44px;
  padding: 6px 0;
  text-align: center;
}

/* Header - end */


/* Hero-block - start */

.hero__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  padding: 75px 140px 139px 80px;

  position: relative;
}

.hero__title {
  font-size: 200px;
  line-height: 204px;
  text-align: end;
}

.hero__img {
  position: absolute;
  top: 107px;
}

.hero__info {
  max-width: 505px;
  margin-left: auto;
}

.hero__info_label {
  margin-bottom: 170px;
  font-size: 50px;
}

.hero__info_label-gold {
  display: inline-block;
  font-size: 40px;
  line-height: 51px;
}

.hero__info_label-white {
  font-family: 'FoglihtenNo06';
  font-size: 60px;
}

.hero__info_desc {
  margin-bottom: 10px;
  line-height: 35px;
}

.hero__btn {
  border-radius: 40px;
  padding: 19px 26px 16px 26px;

  margin-top: 20px;
}

/* Hero-block - end */


/* History - start */

.history {
  margin-bottom: 40px;
}

.history__title {
  margin-bottom: 20px;
}

.history__content {
  display: flex;
  gap: 39px;
  align-items: center ;
}

.history__img {
  width: 261px;
  height: 326px;
  object-fit: cover;
}

/* History - end */


/* Format - start */

.format__title {
  margin-bottom: 20px;
}

.format__text {
  margin-bottom: 20px;
}

.format__text-wrap {
  display: flex;
  gap: 41px;
}

.format__btn {
  border-radius: 40px;
  padding: 19px 16px 17px 16px;
  max-height: 87px;
  white-space: nowrap;
}

/* Fromat - end */


/* Footer - start */

.footer {
  margin-top: 80px;
  padding-bottom: 100px;
  position: relative;
}

.footer::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  background: var(--gold-gradient);
}

.footer__wrapper {
  padding-top: 40px;
}

/* Team - start */

.footer__team {
  margin-bottom: 60px;
}

.footer__team_title {
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.footer__team-members_wrap {
  display: flex;
  justify-content: space-around;
}

.footer__team-member {
  text-align: center;
}

.footer__team-member_avatar {
  width: 154px;
  height: 154px;
  margin-bottom: 26px;
}

.footer__team-member_name {
  font-size: 25px;
}

.footer__team-member_role {
  font-size: 15px;
}

/* Team - end */

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  margin-bottom: 60px;
}

.footer__info-item {
  font-size: 25px;
  line-height: 32px;
}

/* Footer - end */


/* Popups - start */

.popup {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.residency__content {
  padding: 72px 0;
  margin: 50px auto;
  background: #0B0B0B;
  width: 942px;
}

.residency__title {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.residency__form {
  max-width: 560px;
  margin: 0 auto;
}

.residency__label {
  font-size: 25px;
}

.residency__input {
  border: 1px solid #D2AC47;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px #000;
  backdrop-filter: blur(5px); 

  font-size: 25px;
  padding: 6px 20px;
  height: 44px;
  width: 100%;

  margin-bottom: 20px;
}

textarea.residency__input {
  resize: vertical;
  min-height: 98px;

  margin-bottom: 40px;
}

.residency__submit_btn-wrap {
  text-align: center;
}

.residency__submit_btn {
  padding: 12px 18px 6px 18px;
  border-radius: 20px;
  margin: 0 auto;
}



.success-residency__content {
  padding: 50px 39px 50px 34px;
  margin: 0 auto;
  margin-top: 10%;
  background: #0B0B0B;
  width: 940px;

  display: flex;
  gap: 16px;
  align-items: center;
}

.success-residency__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.success-residency__text {
  font-size: 25px;
}

/* Popups - end */

/* Adaptive - start */

@media (max-width: 1439px) {
  .wrapper {
    max-width: 1000px;
    padding: 0 30px;
  }
  .hero__img {
    top: 78px;
    width: 448px;
    height: 580px;
  }
  .hero__wrapper {
    max-width: 1000px;
    padding: 62px 41px 111px 32px;
  }
  .hero__title {
    font-size: 152px;
    line-height: 144px;
  }
  .hero__info {
    max-width: 340px;
    margin-left: auto;
  }
  .hero__info_label {
    margin-bottom: 140px;
    font-size: 38px;
  }
  .hero__info_label-gold {
    font-size: 30px;
    line-height: 39px;
  }
  .hero__info_label-white {
    font-size: 46px;
  }
  .hero__info_desc {
    line-height: 29px;
    font-size: 25px;
  }
  .hero__btn {
    padding: 16px 27px 12px 27px;
  }
  .btn-text {
    font-size: 30px;
    line-height: 38px;
  }

  .history {
    margin-bottom: 30px;
  }
  .history__title {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .history__content {
    gap: 34px;
  }
  .text {
    line-height: 32px;
    font-size: 25px;
  }
  .history__img {
    width: 220px;
    height: 329px;
  }

  .format__title {
    font-size: 60px;
  }
  .format__text-wrap {
    gap: 34px;
  }
  .format__btn {
    padding: 16px 28px 12px 28px;
    max-height: 65px;
    white-space: nowrap;
  }

  .footer {
    margin-top: 60px;
  }
  .footer__wrapper {
    padding-top: 50px;
  }
  .footer__team_title {
    font-size: 30px;
    margin-bottom: 45px;
  }.footer__team-member_name {
    font-size: 20px;
  }

  .footer__info {
    gap: 16px;
  }
  .footer__info-item {
    font-size: 20px;
    line-height: 26px;
  }
  .map {
    max-height: 303px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 999px) {
  .wrapper {
    max-width: 768px;
    padding: 0 75px;
  }

  .header__logo-link {
    padding: 7px 18px 5px 18px;
    margin: 16px 20px 15px 0;
    min-width: 160px;
  }
  .header__logo-img {
    width: 123px;
    height: 43px;
  }
  .header__nav {
    gap: 20px;
    margin-top: 28px;
  }
  .header__icons-wrap {
    gap: 20px;
  }
  .header__links-wrap {
    gap: 20px;
  }
  .header__nav-link {
    font-size: 20px;
    line-height: 26px;
    width: 123px;
    padding: 9px 0;
  }

  .hero__img {
    top: 82px;
    width: 307px;
    height: 397px;
  }
  .hero__wrapper {
    max-width: 768px;
    padding: 50px 73px 68px 48px;
  }
  .hero__title {
    font-size: 106px;
    line-height: 105px;
  }
  .hero__info {
    max-width: 290px;
  }
  .hero__info_label {
    margin-bottom: 94px;
    font-size: 32px;
  }
  .hero__info_label-gold {
    font-size: 26px;
    line-height: 33px;
  }
  .hero__info_label-white {
    font-size: 39px;
  }
  .hero__info_desc {
    line-height: 23px;
    margin-bottom: 6px;
    font-size: 18px;
  }
  .hero__btn {
    margin-top: 15px;
    padding: 19px 15px 12px 15px;
  }
  .btn-text {
    font-size: 20px;
    line-height: 25px;
  }

  .history {
    margin-bottom: 40px;
  }
  .history__title {
    font-size: 45px;
  }
  .history__content {
    gap: 21px;
  }
  .text {
    line-height: 23px;
    font-size: 18px;
  }
  .history__img {
    width: 139px;
    height: 246px;
  }

  .format__title {
    font-size: 45px;
  }
  .format__text-wrap {
    gap: 26px;
  }
  .format__btn {
    padding: 19px 15px 12px 15px;
    max-height: 56px;
  }

  .footer {
    margin-top: 50px;
    padding-bottom: 70px;
  }
  .footer__wrapper {
    padding-top: 40px;
  }
  .footer__team {
    margin-bottom: 40px;
  }
  .footer__team_title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .footer__team-member_avatar {
    width: 130px;
    height: 130px;
    margin-bottom: 28px;
  }
  .footer__team-member_name {
    font-size: 15px;
  }
  .footer__team-member_role {
    font-size: 12px;
  }

  .footer__info {
    gap: 10px;
    margin-bottom: 50px;
  }
  .footer__info-item {
    font-size: 15px;
    line-height: 19px;
  }
  .map {
    max-height: 199px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 544px;
    padding: 0 40px;
  }

  .header {
    height: 59px;
  }
  .header__wrapper {
    display: flex;
    justify-content: normal;
  }
  .header__logo-link {
    padding: 4px 12px 4px 12px;
    margin: 16px 8px 8px 0;
    min-width: 102px;

    height: 36px;
    border-radius: 10px;
  }
  .header__logo-img {
    width: 79px;
    height: 27px;
  }
  .header__nav {
    margin-top: 16px;
    gap: 65px;
  }
  .header__icons-wrap {
    gap: 8px;
  }
  .header__links-wrap {
    gap: 8px;
  }
  .header__icons-wrap {
    gap: 8px;
    margin-right: auto;
  }
  .header__links-wrap {
    gap: 8px;
  }
  .header__nav-img-vk {
    width: 16px;
    height: 14px;
  }
  .header__nav-img-phone {
    width: 18px;
    height: 17px;
  }
  .header__nav-link-icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
  .header__nav-link {
    font-size: 20px;
    line-height: 26px;
    width: 100px;
    padding: 5px 0;

    height: 37px;
  }

  .hero__img {
    top: 72px;
    width: 231px;
    height: 299px;
  }
  .hero__wrapper {
    max-width: 544px;
    padding: 50px 40px 40px 20px;
  }
  .hero__title {
    font-size: 80px;
    line-height: 72px;
  }
  .hero__info {
    max-width: 222px;
  }
  .hero__info_label {
    margin-bottom: 75px;
    font-size: 24px;
  }
  .hero__info_label-gold {
    font-size: 20px;
    line-height: 25px;
  }
  .hero__info_label-white {
    font-size: 30px;
  }
  .hero__info_desc {
    line-height: 19px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .hero__btn {
    margin-top: 10px;
    padding: 9px 17px 5px 17px;
  }
  .btn-text {
    font-size: 17px;
    line-height: 22px;
    white-space: wrap;
  }

  .history {
    margin-bottom: 20px;
  }
  .history__wrapper {
    padding: 0 12px 0 39px;
  }
  .history__title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .history__content {
    gap: 14px;
  }
  .text {
    line-height: 20px;
    font-size: 16px;
  }
  .history__img {
    width: 139px;
    height: 269px;
  }

  .format__title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .format__text-wrap {
    gap: 20px;
  }
  .format__text {
    margin-bottom: 10px;
  }
  .format__btn {
    padding: 11px 7px 10px 8px;
    border-radius: 30px;

    min-width: 167px;
    min-height: 65px;
  }

  .footer {
    margin-top: 40px;
    padding-bottom: 65px;
  }
  .footer__wrapper {
    padding-top: 40px;
  }
  .footer__team {
    margin-bottom: 30px;
  }
  .footer__team_title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .footer__team-members_wrap {
    justify-content: space-between;
  }
  .footer__team-member_avatar {
    width: 107px;
    height: 107px;
    margin-bottom: 23px;
  }
  .footer__team-member_name {
    font-size: 13px;
  }
  .footer__team-member_role {
    font-size: 10px;
  }

  .footer__info {
    gap: 8px;
    margin-bottom: 30px;
  }
  .footer__info-item {
    font-size: 13px;
    line-height: 16px;
  }
  .map {
    max-height: 148px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 543px) {
  .wrapper {
    max-width: 360px;
    padding: 0 30px;
  }

  .header {
    height: 51px;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__logo-link {
    padding: 4px 6px 3px 6px;
    margin: 13px 6px 6px 0;

    min-width: 81px;
    height: 32px;
  }
  .header__logo-img {
    width: 70px;
    height: 25px;
  }
  .header__nav {
    margin-top: 17px;
    gap: 65px;
  }
  .header-icons {
    display: none;
  }
  .header__links-wrap {
    gap: 6px;
  }

  .header__icons-wrap {
    gap: 6px;
    justify-content: center;
    margin-bottom: 9px;
  }
  .header__nav-img-vk {
    width: 10px;
    height: 10px;
  }
  .header__nav-img-phone {
    width: 12px;
    height: 11px;
  }
  .header__nav-link-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 20px;
    padding: 3px 0;

    width: 78px;
    height: 28px;
  }

  .hero__img {
    top: 44px;
    width: 154px;
    height: 199px;
  }
  .hero__wrapper {
    max-width: 360px;
    padding: 27px 30px 40px 17px;
  }
  .hero__title {
    font-size: 52px;
    line-height: 51px;
  }
  .hero__info {
    max-width: 145px;
  }
  .hero__info_label {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .hero__info_label-gold {
    font-size: 13px;
    line-height: 16px;
  }
  .hero__info_label-white {
    font-size: 19px;
  }
  .hero__info_desc {
    line-height: 15px;
    margin-bottom: 3px;
    font-size: 12px;
  }
  .hero__btn {
    margin-top: 10px;
    padding: 4px 17px 4px 17px;

    width: 139px;
    height: 46px;
    border-radius: 20px;
  }
  .btn-text {
    font-size: 15px;
    line-height: 19px;
    white-space: wrap;
  }

  .history {
    margin-bottom: 25px;
  }
  .history__wrapper {
    padding: 0 26px;
  }
  .history__title {
    font-size: 31px;
    margin-bottom: 15px;
    white-space: nowrap;
  }
  .history__content {
    gap: 14px;
    display: block;
  }
  .text {
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .image-rotate {
    position: relative;
    padding-bottom: 156px;
  }
  .history__img {
    position: absolute;
    bottom: -79px;
    margin: 0 auto;
    left: 0;
    right: 0;

    width: 139px;
    height: 298px;

    transform: rotate(90deg);
  }

  .format__title {
    font-size: 31px;
    text-align: center;
  }
  .format__text-wrap {
    display: block;
    text-align: center;
  }
  .format__text {
    margin-bottom: 10px;
  }
  .format__btn {
    padding: 4px 17px 4px 17px;

    max-width: 139px;
    max-height: 46px;
    min-width: 139px;
    min-height: 46px;
    border-radius: 20px;

    margin-top: 5px;
    margin-bottom: 15px;
  }

  .footer {
    margin-top: 25px;
    padding-bottom: 60px;
  }
  .footer__wrapper {
    padding-top: 12px;
  }
  .footer__team {
    margin-bottom: 16px;
  }
  .footer__team_title {
    font-size: 17px;
    margin-bottom: 19px;
  }
  .footer__team-members_wrap {
    justify-content: space-evenly;
  }
  .footer__team-member_avatar {
    width: 62px;
    height: 62px;
    margin-bottom: 13px;
  }
  .footer__team-member_name {
    font-size: 7px;
  }
  .footer__team-member_role {
    font-size: 6px;
  }

  .footer__info {
    gap: 5px;
    margin-bottom: 15px;
  }
  .footer__info-item {
    font-size: 7px;
    line-height: 9px;
  }
  .map {
    max-height: 96px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 360px) {
  
}
/* Adaptive - end */